<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>El Mago</span></h1>
                                <h1>Hamburpizzas</h1>
                                <p>Sacámos una nueva especialidad de la galera.
                                    ¿Podes imaginar la exquisita pizza del Mago pero individual y con una hamburguesa Super Paty en el medio?
                                    Elegí tu preferida!</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/shop/categories/hamburpizzas.jpg" class="girl img-responsive img-rounded" alt="" />
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->